.gitrepo/

# Frontend apps
frontend/apps/*/node_modules/
frontend/apps/*/dist/
frontend/apps/*/dist-ssr/
frontend/apps/*/*.local

# Backend
backend/pay/
backend/**/*.db
backend/**/*.db-journal
backend/**/__pycache__/
backend/**/*.pyc

# Logs and OS/editor files
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
